$primary-color: #fff;
$secondary-color: #A8D99A;
$light-gray: #F2F2F2;
$gray: #7d7c7c;
$highlight-color: rgba(84, 173, 240, 0.7);
$ready-green-color : #97EC9D;

$modal-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$primary-background: #fff;

$aside-width: 15%; //percentage
$header-height: 70px; //percentage

// For input component default
$input-width: 270px;
$input-height: 60px;

// Buttons
$btn-primary-color: #3a8af4;